<%= simple_form_for(@liste) do |f| %>
  <% if @liste.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@liste.errors.count, "error") %> prohibited this liste from being saved:</h2>

      <ul>
      <% @liste.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :quoi, :as => :select, :collection =>["depart","filiere"] %>
  </div>
  <div class="field">
    <%= f.input :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
