<div id="leftpanel">
        <div class="table_top">
          <div align="center"><span class="title_panel">Par département</span> </div>
        </div>
        <div class="table_content">
          <div class="table_text">
          </div>
        </div>
        <div class="table_bottom"></div>
</div>

<%# high_chart("my_id", @h) %>
<hr/>

<%= @prixes.count %> / <%= @prixes.maximum('montant') %>
<table>
  <thead>
    <tr>
      <th>dep</th>
      <th>type</th>
      <th>€ TTC</th>
    </tr>
  </thead>
  <tbody>
  <% @prixes.each do |prix|%>
    <tr>
      <td><%= prix.departement %></td>
      <td><%= prix.type_filiere %></td>
      <td><%= prix.montant %></td>
    </tr>
  <%end %>
  </tbody>
</table>
