<%= simple_form_for @prix do |f| %>
  <p><%= f.input :departement, :label => "Département", :as => :select, :collection => Liste.where(:quoi =>"depart"), :label_method => 'content', :value_method => 'content' %></p>
  <p><%= f.input :type_filiere, :label => "Type de filière", :as => :select, :collection => Liste.filiere, :label_method => 'content', :value_method => 'content' %></p>

  <p><%= f.input :dimension, :label => "Dimension (eq.hab ou PP)", :collection => 3..200 %></p>
  <p><%= f.input :date, :id => "datepicker", :as => :string, :label => "Date de réalisation" %></p>
  <p><%= f.input :montant, :label => "Montant (€ TTC)" %></p>
  <p><%= f.input :neuf, :label => "Chantier", :as => :radio, :collection => ["Neuf","Réhabilitation"] %></p>
  <p><%= f.input :difficulte, :label => "Difficulté", :as => :radio, :collection => ["Facile","Moyen","Difficile","Très difficile"] %></p>
  <p><%= f.input :commentaire %></p>

<div class="center">
<b>ATTENTION, une fois saisie les données ne peuvent être modifiée que par l'administrateur.</b><br/>
J'ai vérifié et je certifie sur l'honneur l'exactitude des données <%= f.check_box :terms %></div>

    <%= f.submit "J'accepte les conditions et j'enregistre ce prix" %>

<%end%>
