<div id="content">
  <div id="leftpanel">
        <div class="table_top">
          <div align="center"><span class="title_panel">PRIX</span> </div>
        </div>
        <div class="table_content">
          <div class="table_text">
              <span class="news_more"><%= link_to "Saisir un prix", new_prix_path() %></span><br />
              <span class="news_more"><%= link_to "Consulter les prix", prix_reports_path %></span><br />
          </div>
        </div>
        <div class="table_bottom"></div>
        <br />

        <div class="table_top">
          <span class="title_panel">SITE</span>
        </div>
        <div class="table_content">
          <div class="table_text">

            <span class="news_more"><%= link_to 'Aide', "/fixes/help" %></span><br />
            <span class="news_more"><%= link_to 'Site sans pub', "/fixes/don" %></span><br />
            <span class="news_more"><%= link_to 'Pourquoi ce site', "/fixes/about" %></span><br />
            <hr/>
            <span class="news_more"><a href="http://www.spanc29.net">SPANC29.net</a></span><br />
            <span class="news_more"><abbr title="amicus plato, sed magis amica veritas">amicus plato...</abbr></span><br />
          </div>
        </div>
        <div class="table_bottom"></div>
        <br />
        <%= link_to "Admin", login_path %>
        <% if current_user %>
          <%= link_to "listes", listes_path %>
        <%end%>
</div>
