<div id="content">
      <div id="leftpanel">
        <div class="table_top">
          <div align="center"><span class="title_panel">PRIX</span> </div>
        </div>
        <div class="table_content">
          <div class="table_text">
              <span class="news_more"><%= link_to "Saisir un prix", new_prix_path() %></span><br />
              <span class="news_more"><%= link_to "Consulter les prix", prix_reports_path %></span><br />
          </div>
        </div>
        <div class="table_bottom"></div>
        <br />

        <div class="table_top">
          <span class="title_panel">SITE</span>
        </div>
        <div class="table_content">
          <div class="table_text">
            <span class="news_more"><a href="http://www.winkhosting.com">Wink Hosting </a></span><br />
            <span class="news_more"><a href="http://www.google.com">Google </a></span><br />
            <span class="news_more"><a href="http://www.oswd.org">OSWD</a></span><br />
            <span class="news_more"><a href="http://www.yahoo.com">Yahoo</a></span><br />
            <span class="news_more"><a href="http://www.spanc29.net">SPANC29.net</a></span><br />
          </div>
        </div>
        <div class="table_bottom">
          <img src="images/table_bottom.jpg" width="204" height="23" border="0" alt="" />
        </div>
        <br />
      </div>



<div id="contenttext">
<h1 class="title_blue">Bienvenue</h1>
<p align="justify"> Ce site a pour but de </p>

<hr/>
<p>
Il y a actuellement <%= @prixes.count %> prix dans la base.<br/>
compris entre <b><%= number_to_currency(Prix.minimum(:montant))%></b> et <b><%= number_to_currency(Prix.maximum(:montant))%></b> soit une moyenne de : <b><%= number_to_currency(Prix.average(:montant))%></b><br/>
</p>
 <p><strong><%= link_to "Consulter les statistiques", prix_reports_path %></strong></p>
<hr/>

<h3>Liste des 10 dernières factures saisies</h3>
<table id="Tindex">
  <tr>
    <th>Département</th>
    <th>Date de réalisation</th>
    <th>Type filiere</th>
    <th>Montant TTC</th>
    <th></th>
    <th></th>
  </tr>
<% @prixes.each do |prix| %>
  <tr>
    <td><%= prix.departement %></td>
    <td><%= l(prix.date.to_date) %></td>
    <td><%= prix.type_filiere %></td>
    <td class="big right"><%=number_to_currency(prix.montant)%></td>
    <td class="quiet"><%= l(prix.updated_at.to_date) %></td>

    <td><%= link_to image_tag("details.gif", :title => '+ de détails'), prix %>
    <%= link_to 'Edit', edit_prix_path(prix) %>
    <%= link_to 'Destroy', prix, confirm: 'certain ?', method: :delete %></td>
  </tr>
<% end %>
</table>
<hr/>
</div>
