<%= render "leftpanel" %>

<div id="contenttext">
<h1 class="title_blue">Bienvenue</h1>
<p align="justify"> Les usagers, les BE et les SPANC témoignent de plus en plus fréquemment de leur difficulté à appréhender un ordre de grandeur réaliste du prix de leur projet d'assainissement. Ce site a donc pour but de rassembler les données de prix par département afin de tirer une moyenne par type d'ouvrage.</p>
<p>Il s'agit d'un <b>outil de constat</b> qui permet d'appréhender, grosso modo, le budget d'un chantier.<br/>lisez la présentation pour connaître les conditions d'utilisation.</p>
<p>Merci de votre visite et consultez votre SPANC.</p>

<hr/>
Il y a actuellement <%= @prixes.count %> prix dans la base.<br/>
compris entre <b><%= number_to_currency(Prix.minimum(:montant))%></b> et <b><%= number_to_currency(Prix.maximum(:montant))%></b> soit une moyenne de : <b><%= number_to_currency(Prix.average(:montant))%></b><br/>
<strong><%= link_to "Consulter les statistiques", prix_reports_path %></strong>

<hr/>

<h3>Liste des 10 dernières factures saisies</h3>
<table id="Tindex">
  <tr>
    <th><span class="quiet">saisie le</span></th>
    <th>Département</th>
    <th>Date de réalisation</th>
    <th>Type filiere</th>
    <th>Montant TTC</th>
    <th></th>
    <th></th>
  </tr>
<% @prixes.each do |prix| %>
  <tr>
    <td><span class="quiet"> <%= l(prix.updated_at.to_date) %></span></td>
    <td><%= prix.departement %></td>
    <td><%= l(prix.date.to_date)%></td>
    <td><%= prix.type_filiere %></td>
    <td class="big right"><%=number_to_currency(prix.montant)%></td>

    <td><%= link_to image_tag("details.gif", :title => '+ de détails'), prix %>
    <td><% if current_user %>
    <%= link_to 'Edit', edit_prix_path(prix) %>
    <%= link_to 'Destroy', prix, confirm: 'certain ?', method: :delete %></td>
    <%end%></td>
  </tr>
<% end %>
</table>
<hr/>
</div>
