<p id="notice"><%= notice %></p>

<h1>Fiche PRIX CONSTATE</h1>

<table id="Tshow">
  <tbody>
    <tr>
      <td class="label">Département</td>
      <td class="item big"><%= @prix.departement %></td>
    </tr>
    <tr>
      <td class="label">Type de filière</td>
      <td class="item big"><%= @prix.type_filiere %></td>
    </tr>
    <tr>
    <td class="label">Montant </td>
    <td class="item big"><%= number_to_currency(@prix.montant)%> TTC</td>
    </tr>

    <tr>
      <td class="label">Dimensionnement</td>
      <td class="item"><strong><%= @prix.dimension %></strong> <span class="quiet"> soit <%= number_with_precision(@prix.montant/@prix.dimension, precision: 2) %> €/eq.hab</span></td>
    </tr>

    <tr>
      <td class="label">Date de réalisation</td>
      <td class="item"><%= l(@prix.date.to_date, format: :long) %></td>
    </tr>

    <tr>
      <td class="label">Difficulté</td>
      <td class="item"><%= @prix.difficulte %></td>
    </tr>

    <tr>
      <td class="label">Autres</td>
      <td class="item">Sur <%= @prix.type_facture %> / chantier : <%= @prix.neuf %> / TVA : <%= @prix.tva %></td>
    </tr>

    <tr>
      <td class="label">Commentaires</td>
      <td class="item"><%= simple_format (@prix.commentaire)%></td>
    </tr>
  </tbody>
</table>
<div class="quiet">saisie le <%= @prix.created_at %></div>


<%= link_to 'Edit', edit_prix_path(@prix) %> | <%= link_to 'RETOUR', prixes_path, :class => "retour" %>
