<div id="panel">
        <div class="table_top2">
          <div align="center"><span class="title_panel">filtrer</span> </div>
        <br/>
<%= form_for @prix_report, :html => {:method => :get} do |f| -%>
  <% @prix_report.filters.each do |filter| -%>
        <%= f.datagrid_label filter %> <%= f.datagrid_filter filter %>
  <%end%>
  <%= f.submit 'Créer filtre' %>
  <%end%>
</div>

<div id="graph">
<%= high_chart("my_id", @h) do |c|%>
<% "options.tooltip.formatter = function() {return ''+ this.series.name +' : '+ this.y +' € ';}" %>
<%end%>

  <div class='total'>
    <h3>STATISTIQUES GENERALES</h3>
    <span class="subtitle_gray"> Suivant filtre</span><br/>
  <table id="Tstat">
    <tbody>
      <tr>
        <td class="label">nombre d'entrées trouvées :</td>
        <td class="big"><%= @prix_report.assets.count %></td>
        <td class="label">Moyenne des montants :</td>
        <td class="big"><%= number_to_currency(@prix_report.assets.average('montant')) %></td>
      </tr>
      <tr>
        <td class="label">nombre de réhabilitations / neufs :</td>
        <td class="big"><%= @prix_report.assets.where(:neuf => "Réhabilitation").count %> / <%= @prix_report.assets.where(:neuf => "Neuf").count %></td>
        <td class="label">Amplitude prix :  </td>
        <td class="big"> de <%= number_to_currency(@prix_report.assets.minimum('montant'))%> à <%= number_to_currency(@prix_report.assets.maximum('montant'))%></td>
      </tr>
    </tbody>
  </table>
  </div>
<hr/>
<h3>DONNEES </h3>

<%= datagrid_table(@prix_report, @assets, :cycle => ["odd", "even"]) %>
<%= paginate @assets %>
</div>
