<!DOCTYPE html>
<html>
<head>
  <title>Observatoire des prix ANC</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="page" align="center">
  <div id="header">
      <div id="companyname" align="left">OBSERVATOIRE des PRIX<br/>en ANC</div>
      <div align="right" class="links_menu" id="menu">
        <%= link_to "Accueil",root_path %> |
        <%= mail_to("spanc29@spanc29.net", "Signaler une erreur", :subject => "Une erreur dans PRIX", :body => "soyez precis dans votre description, merci") %>
      </div>
    </div>
    <br />
<div id="content">
      <div id="text">
        <%= yield %>
      </div>

      <div class="footer">
        <%= link_to 'Avertissement/mentions légales', "/fixes/about" %> |
        <%= link_to 'encore un service gratuit SPANC29.NET', "http://www.spanc29.net" %> |
        Designed by <a href="http://www.winkhosting.com/">Wink Hosting</a>
        <br/>
      </div>
</div>
</body>
</html>
